#sobre{
    background-image:-webkit-linear-gradient(red, blue);
    height: 70vh;
}
.conteudo{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}
.conteudo .historia{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 8%;
}
.historia h2{
    text-align: center;
}

@media (max-width: 506px){
    #sobre{
        height: auto;
    }   
}