

#pro{
    background-image: -webkit-radial-gradient(red, blue);
    height: auto;
    padding-top: 1%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
}
.container h2{
    font-size: 2.3rem;
    color: #F4459A;
}
.botoes{
    margin: 1.5rem  0;
}
.botoes a{
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 1.5rem;
    background-color: #753CF8;
    color: #fff;
    padding: 8px 22px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.store-item{
    width: 300px;
    padding: 1rem;
}
.store-item img{
    width: 100%;
    display: block;
    height: 70vh;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}
.hide{
    display: none;
}
@media  screen  and (max-width: 670px) {
    .store-item{
        width: 40%;
        display: flex;
        margin: 0 auto;
    }
    .store-item img{
        width: 100%;
        height: 50vh;
    }
}
@media (max-width: 380px){
    .store-item img{
        height: 40vh;
    }
}